<?php
//MYSQL credentials
define('DB_HOST', 'localhost');
define('DB_NAME', '');
define('DB_USER', '');
define('DB_PASS', '');

define('CACHE_METHOD', 'file');
//your eve developer ID and secret
define('ESI_ID', '');
define('ESI_SECRET', '');

//random salt
define('ESI_SALT', '6876sfdFgGfhgsdf76tga78sfgcgkjBJS');

define('ESI_USER_AGENT', 'yourdomain spacemail ESI client');

//Users able to enter the admin section
define('ADMINS', array("Snitch" => 90976676,));

define('MAIL_SCOPES', array('esi-calendar.read_calendar_events.v1',
                            'esi-calendar.respond_calendar_events.v1',
                            'esi-mail.organize_mail.v1',
                            'esi-mail.read_mail.v1',
                            'esi-mail.send_mail.v1',
                            'esi-characters.read_contacts.v1',
                            'esi-characters.read_notifications.v1'));
?>
